<div>
  <a href="#" class="button {{modifier_class}}" style="margin-bottom: 0.5em;">Standard button</a>
  <a href="#" class="button {{modifier_class}} button--soft-start" style="margin-bottom: 0.5em;">Soft start</a>
  <a href="#" class="button {{modifier_class}} button--soft-end" style="margin-bottom: 0.5em;">Soft end</a>
  <a href="#" class="button {{modifier_class}} button--hard" style="margin-bottom: 0.5em;">Button hard</a>
</div>
<div>
  <div>Size modifiers:</div>
  <a href="#" class="button {{modifier_class}} button--small" style="margin-bottom: 0.5em;">Button small</a>
  <a href="#" class="button {{modifier_class}} button--large" style="margin-bottom: 0.5em;">Button large</a>
</div>
<div style="max-width: 300px; padding: 4px; border: 1px dashed gray;">
 <a href="#" class="button {{modifier_class}}">Demonstration of button with text spanning two lines</a>
</div>

